.divider {
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 200px;
	&__line {
		border: 1px solid #fff;
		width: 60px;
		height: 0px;
		&-black {
			border: 1px solid #000;
		}
	}

}