.nav {
	position: absolute;
	top: 52px;
	left: 180px;
	&__img {
		position: absolute;
		top: -22px;
		left: -29px;
	}
	&__list {
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: space-between;
		width: 324px;
		list-style-type: none;
	}
	li {
		font-weight: 400;
		font-size: 12px;
		a {
			text-decoration: none;
			color: #fff;
		}
	}
	&-black {
		li {
			a {
				color: #000;
			}
		}

	}
}